<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.testplatform.modules.casemanage.mapper.UiTestCaseStepMapper">

    <select id="getCaseStepList" resultType="com.allen.testplatform.modules.casemanage.model.vo.ExcelCaseStepVo">
        SELECT
        cs.case_code AS caseCode,
        cs.sort,
        cs.description,
        cs.action_keyword AS actionKeyword,
        cs.element_locate_type AS elementLocateType,
        cs.element_locate_value AS elementLocateValue,
        cs.parameter,
        c.create_user AS tester,
        c.team_code AS teamCode
        FROM
        ui_test_case_step cs
        LEFT JOIN test_case c ON c.id = cs.case_id
        AND c.del_flag = 0
        WHERE
        cs.del_flag = 0
        <if test="caseType != null and caseType != ''">
            AND c.type = #{caseType}
        </if>
    </select>
</mapper>